.container {
  background-image: url("/images/stars.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1e1e1e;
  border-radius: 1.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  height: 70vh;
  overflow: hidden;
  gap: 0;
  width: 80%;
  align-self: center;
  margin-left: 10rem;
}

/* .footer {
  position: relative;
  background-color: #88c600;
  height: 40px;
  width: 100%;
} */